* {
    font-family: Arial, Helvetica, sans-serif;
}

#main {
    margin: 20px 10px;
    padding: 25px 10px 10px 10px;
    background-color: #ffe0b3;
    border-radius: 5px;
}

#title {
    font-size: 40px;
    text-align: center;
}

#main>p {
    font-size: 16px;
    text-align: center;
}

#img-div {
    max-width: 1000px;
    margin: auto;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#image {
    padding-top: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 800px;
}

#img-caption {
    font-size: 16px;
}

h3 {
    font-size: 20px;
    text-align: center;
}

ul {
    max-width: 550px;
    margin: auto;
    text-align: left;
    line-height: 1.7;
}

blockquote {
    max-width: 550px;
    margin: auto;
    padding: 30px;
}

blockquote p {
    font-size: 20px;
    font-style: italic;
}

blockquote cite {
    font-size: 14px;
}


